MILESTONE1

In [11]:
# Import Libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Load dataset
df = pd.read_csv("flights_sample_3m.csv")

print("\n--- Shape of dataset ---")
print(df.shape)

print("\n--- Data Types & Nulls ---")
print(df.info())

--- Shape of dataset ---
(3000000, 32)

--- Data Types & Nulls ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  object
 2   AIRLINE_DOT              object
 3   AIRLINE_CODE             object
 4   DOT_CODE                 int64
 5   FL_NUMBER                int64
 6   ORIGIN                   object
 7   ORIGIN_CITY              object
 8   DEST                     object
 9   DEST_CITY                object
 10  CRS_DEP_TIME             int64
 11  DEP_TIME                 float64
 12  DEP_DELAY                float64
 13  TAXI_OUT                 float64
 14  WHEELS_OFF               float64
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  CRS_ARR_TIME             int64
 18  ARR_TIME                 float64
 19  ARR_DELAY                float64
 20  CANCELLED                float64
 21  CANCELLATION_CODE        object
 22  DIVERTED                 float64
 23  CRS_ELAPSED_TIME         float64
 24  ELAPSED_TIME             float64
 25  AIR_TIME                 float64
 26  DISTANCE                 float64
 27  DELAY_DUE_CARRIER        float64
 28  DELAY_DUE_WEATHER        float64
 29  DELAY_DUE_NAS            float64
 30  DELAY_DUE_SECURITY       float64
 31  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(19), int64(4), object(9)
memory usage: 732.4+ MB
None

In [12]:
# Basic Info

print("\n--- Descriptive Stats ---")
print(df.describe(include='all'))
display(df.describe(include="all"))

--- Descriptive Stats ---
           FL_DATE                 AIRLINE                 AIRLINE_DOT  \
count      3000000                 3000000                     3000000
unique        1704                      18                          18
top     2019-07-25  Southwest Airlines Co.  Southwest Airlines Co.: WN
freq          2379                  576470                      576470
mean           NaN                     NaN                         NaN
std            NaN                     NaN                         NaN
min            NaN                     NaN                         NaN
25%            NaN                     NaN                         NaN
50%            NaN                     NaN                         NaN
75%            NaN                     NaN                         NaN
max            NaN                     NaN                         NaN

       AIRLINE_CODE      DOT_CODE     FL_NUMBER   ORIGIN  ORIGIN_CITY  \
count       3000000  3.000000e+06  3.000000e+06  3000000      3000000
unique           18           NaN           NaN      380          373
top              WN           NaN           NaN      ATL  Chicago, IL
freq         576470           NaN           NaN   153556       157368
mean            NaN  1.997629e+04  2.511536e+03      NaN          NaN
std             NaN  3.772846e+02  1.747258e+03      NaN          NaN
min             NaN  1.939300e+04  1.000000e+00      NaN          NaN
25%             NaN  1.979000e+04  1.051000e+03      NaN          NaN
50%             NaN  1.993000e+04  2.152000e+03      NaN          NaN
75%             NaN  2.036800e+04  3.797000e+03      NaN          NaN
max             NaN  2.045200e+04  9.562000e+03      NaN          NaN

           DEST    DEST_CITY  ...      DIVERTED  CRS_ELAPSED_TIME  \
count   3000000      3000000  ...  3.000000e+06      2.999986e+06
unique      380          373  ...           NaN               NaN
top         ATL  Chicago, IL  ...           NaN               NaN
freq     153569       158087  ...           NaN               NaN
mean        NaN          NaN  ...  2.352000e-03      1.422758e+02
std         NaN          NaN  ...  4.844036e-02      7.155669e+01
min         NaN          NaN  ...  0.000000e+00      1.000000e+00
25%         NaN          NaN  ...  0.000000e+00      9.000000e+01
50%         NaN          NaN  ...  0.000000e+00      1.250000e+02
75%         NaN          NaN  ...  0.000000e+00      1.720000e+02
max         NaN          NaN  ...  1.000000e+00      7.050000e+02

        ELAPSED_TIME      AIR_TIME      DISTANCE  DELAY_DUE_CARRIER  \
count   2.913802e+06  2.913802e+06  3.000000e+06      533863.000000
unique           NaN           NaN           NaN                NaN
top              NaN           NaN           NaN                NaN
freq             NaN           NaN           NaN                NaN
mean    1.366205e+02  1.123108e+02  8.093616e+02          24.759086
std     7.167582e+01  6.975484e+01  5.878939e+02          71.771845
min     1.500000e+01  8.000000e+00  2.900000e+01           0.000000
25%     8.400000e+01  6.100000e+01  3.770000e+02           0.000000
50%     1.200000e+02  9.500000e+01  6.510000e+02           4.000000
75%     1.670000e+02  1.420000e+02  1.046000e+03          23.000000
max     7.390000e+02  6.920000e+02  5.812000e+03        2934.000000

        DELAY_DUE_WEATHER  DELAY_DUE_NAS  DELAY_DUE_SECURITY  \
count       533863.000000  533863.000000       533863.000000
unique                NaN            NaN                 NaN
top                   NaN            NaN                 NaN
freq                  NaN            NaN                 NaN
mean             3.985260      13.164728            0.145931
std             32.410796      33.161122            3.582053
min              0.000000       0.000000            0.000000
25%              0.000000       0.000000            0.000000
50%              0.000000       0.000000            0.000000
75%              0.000000      17.000000            0.000000
max           1653.000000    1741.000000         1185.000000

        DELAY_DUE_LATE_AIRCRAFT
count             533863.000000
unique                      NaN
top                         NaN
freq                        NaN
mean                  25.471282
std                   55.766892
min                    0.000000
25%                    0.000000
50%                    0.000000
75%                   30.000000
max                 2557.000000

[11 rows x 32 columns]

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
count,3000000,3000000,3000000,3000000,3.000000e+06,3.000000e+06,3000000,3000000,3000000,3000000,...,3.000000e+06,2.999986e+06,2.913802e+06,2.913802e+06,3.000000e+06,533863.000000,533863.000000,533863.000000,533863.000000,533863.000000
unique,1704,18,18,18,NaN,NaN,380,373,380,373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2019-07-25,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,NaN,NaN,ATL,"Chicago, IL",ATL,"Chicago, IL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2379,576470,576470,576470,NaN,NaN,153556,157368,153569,158087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.997629e+04,2.511536e+03,NaN,NaN,NaN,NaN,...,2.352000e-03,1.422758e+02,1.366205e+02,1.123108e+02,8.093616e+02,24.759086,3.985260,13.164728,0.145931,25.471282
std,NaN,NaN,NaN,NaN,3.772846e+02,1.747258e+03,NaN,NaN,NaN,NaN,...,4.844036e-02,7.155669e+01,7.167582e+01,6.975484e+01,5.878939e+02,71.771845,32.410796,33.161122,3.582053,55.766892
min,NaN,NaN,NaN,NaN,1.939300e+04,1.000000e+00,NaN,NaN,NaN,NaN,...,0.000000e+00,1.000000e+00,1.500000e+01,8.000000e+00,2.900000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,1.979000e+04,1.051000e+03,NaN,NaN,NaN,NaN,...,0.000000e+00,9.000000e+01,8.400000e+01,6.100000e+01,3.770000e+02,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,1.993000e+04,2.152000e+03,NaN,NaN,NaN,NaN,...,0.000000e+00,1.250000e+02,1.200000e+02,9.500000e+01,6.510000e+02,4.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,2.036800e+04,3.797000e+03,NaN,NaN,NaN,NaN,...,0.000000e+00,1.720000e+02,1.670000e+02,1.420000e+02,1.046000e+03,23.000000,0.000000,17.000000,0.000000,30.000000
max,NaN,NaN,NaN,NaN,2.045200e+04,9.562000e+03,NaN,NaN,NaN,NaN,...,1.000000e+00,7.050000e+02,7.390000e+02,6.920000e+02,5.812000e+03,2934.000000,1653.000000,1741.000000,1185.000000,2557.000000

In [13]:
# Handle Missing Values

print("\n--- Missing Values ---")
print(df.isnull().sum())

# Fill categorical NaNs with "Unknown"
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna("Unknown")

--- Missing Values ---
FL_DATE                          0
AIRLINE                          0
AIRLINE_DOT                      0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     77615
DEP_DELAY                    77644
TAXI_OUT                     78806
WHEELS_OFF                   78806
WHEELS_ON                    79944
TAXI_IN                      79944
CRS_ARR_TIME                     0
ARR_TIME                     79942
ARR_DELAY                    86198
CANCELLED                        0
CANCELLATION_CODE          2920860
DIVERTED                         0
CRS_ELAPSED_TIME                14
ELAPSED_TIME                 86198
AIR_TIME                     86198
DISTANCE                         0
DELAY_DUE_CARRIER          2466137
DELAY_DUE_WEATHER          2466137
DELAY_DUE_NAS              2466137
DELAY_DUE_SECURITY         2466137
DELAY_DUE_LATE_AIRCRAFT    2466137
dtype: int64

In [ ]:
# Univariate Analysis

# Numerical distributions
num_cols = df.select_dtypes(include=['int64','float64']).columns
for col in num_cols:
    plt.figure(figsize=(6,4))
    sns.histplot(df[col].dropna(), kde=True)
    plt.title(f"Distribution of {col}")plt.show()

In [ ]:
# Categorical distributions
cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
plt.figure(figsize=(6,4))
df[col].value_counts().head(20).plot(kind='bar')
plt.title(f"Top 20 categories of {col}")
plt.show()

In [ ]:
# Bivariate Analysis

# Correlation heatmap
plt.figure(figsize=(10,6))
sns.heatmap(df.corr(numeric_only=True), annot=False, cmap="coolwarm")
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
# Time-based Analysis (if date columns exist)
if 'FL_DATE' in df.columns:
    df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])
    flights_per_month = df.groupby(df['FL_DATE'].dt.to_period('M')).size()
    flights_per_month.plot(kind='bar', figsize=(10,4))

In [ ]:
#  Target Variable Distribution (if predicting delays)
sns.histplot(df['ARR_DELAY'], bins=50, kde=True)

In [ ]:
# Pairplot (using sample to avoid memory issues)

sample_df = df.sample(5000, random_state=42)
sns.pairplot(sample_df[['ARR_DELAY','DEP_DELAY','AIR_TIME','DISTANCE']])
plt.show()

MILE STONE2

In [ ]:

#  Distribution of Arrival Delays

plt.figure(figsize=(8,5))
sns.histplot(df['ARR_DELAY'].dropna(), bins=50, kde=True)
plt.title("Distribution of Arrival Delays")
plt.xlabel("Minutes")
plt.ylabel("Frequency")
plt.show()

In [ ]:
pip install squarify

In [ ]:
#  Flights by Airline

if 'OP_UNIQUE_CARRIER' in df.columns:
   plt.figure(figsize=(10,5))
   df['OP_UNIQUE_CARRIER'].value_counts().plot(kind='bar')
   plt.title("Number of Flights by Airline")
   plt.xlabel("Airline")
   plt.ylabel("Flights Count")
   plt.show()

In [ ]:
#  Average Delay by Airline

if 'ARR_DELAY' in df.columns and 'OP_UNIQUE_CARRIER' in df.columns:
    plt.figure(figsize=(10,5))
    sns.barplot(x='OP_UNIQUE_CARRIER', y='ARR_DELAY', data=df)
    plt.title("Average Arrival Delay by Airline")
    plt.xlabel("Airline")
    plt.ylabel("Average Delay (minutes)")
    plt.show()

In [ ]:
#  Departure vs Arrival Delay (scatter)
if 'DEP_DELAY' in df.columns and 'ARR_DELAY' in df.columns:
    plt.figure(figsize=(8,6))
    sns.kdeplot(x='DEP_DELAY', y='ARR_DELAY', data=df, fill=True, cmap="mako", thresh=0.05)
    plt.title("2D Density: Departure vs Arrival Delay")
    plt.xlabel("Departure Delay (minutes)")
    plt.ylabel("Arrival Delay (minutes)")
    plt.show()

In [ ]:
#  Distance vs Arrival Delay
if 'DISTANCE' in df.columns and 'ARR_DELAY' in df.columns:
    # Create bins of distance (e.g., every 500 miles)
    df['DISTANCE_BIN'] = pd.cut(df['DISTANCE'], bins=range(0, int(df['DISTANCE'].max())+500, 500))
    avg_delay = df.groupby('DISTANCE_BIN')['ARR_DELAY'].mean().reset_index()

    plt.figure(figsize=(10,5))
    sns.lineplot(x=avg_delay['DISTANCE_BIN'].astype(str), y=avg_delay['ARR_DELAY'], marker="o")
    plt.title("Average Arrival Delay by Distance Group")
    plt.xlabel("Flight Distance (binned, miles)")
    plt.ylabel("Average Delay (minutes)")
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
num_cols = df.select_dtypes(include=['int64','float64']).columns

if len(num_cols) > 1:
    sns.pairplot(df[num_cols].dropna(), diag_kind="kde")
    plt.suptitle("Pairplot of Numeric Features", y=1.02)
    plt.show()

In [ ]:
#  Boxplot of Delays by Airline
# --------------------
if 'ARR_DELAY' in df.columns and 'OP_UNIQUE_CARRIER' in df.columns:
    plt.figure(figsize=(12,6))
    sns.boxplot(x='OP_UNIQUE_CARRIER', y='ARR_DELAY', data=df)
    plt.title("Distribution of Arrival Delays by Airline")
    plt.xlabel("Airline")
    plt.ylabel("Arrival Delay (minutes)")
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
#  Flights per Month (time trend)
# --------------------
if 'FL_DATE' in df.columns:
    df['FL_DATE'] = pd.to_datetime(df['FL_DATE'], errors='coerce')
    monthly_counts = df.groupby(df['FL_DATE'].dt.to_period('M')).size()
    monthly_counts.plot(kind='bar', figsize=(12,5))
    plt.title("Number of Flights per Month")
    plt.xlabel("Month")
    plt.ylabel("Flights Count")
    plt.show()

In [ ]:
#  Pairplot of Key Numerical Features

num_features = [col for col in ['ARR_DELAY','DEP_DELAY','DISTANCE'] if col in df.columns]
if len(num_features) > 1:
    sns.pairplot(df[num_features].dropna(), diag_kind='kde')
    plt.suptitle("Pairwise Relationships", y=1.02)
    plt.show()

In [ ]:
#  Average Arrival Delay by Day of Week

if 'FL_DATE' in df.columns and 'ARR_DELAY' in df.columns:
    df['FL_DATE'] = pd.to_datetime(df['FL_DATE'], errors='coerce')
    df['DAY_OF_WEEK'] = df['FL_DATE'].dt.day_name()
    plt.figure(figsize=(10,5))
    sns.barplot(x='DAY_OF_WEEK', y='ARR_DELAY', data=df,
                order=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
    plt.title("Average Arrival Delay by Day of Week")
    plt.xlabel("Day of Week")
    plt.ylabel("Average Delay (minutes)")
    plt.show()

In [ ]:
# Cancellation Reasons

if 'CANCELLED' in df.columns and 'CANCELLATION_CODE' in df.columns:
    plt.figure(figsize=(6,5))
    df['CANCELLATION_CODE'].value_counts().plot(kind='bar', color='red')
    plt.title("Flight Cancellations by Reason")
    plt.xlabel("Reason Code")
    plt.ylabel("Number of Cancellations")
    plt.show()

In [ ]:
#  Delay Comparison: Origin vs Destination Airports

if 'ORIGIN' in df.columns and 'ARR_DELAY' in df.columns:
    top_airports = df['ORIGIN'].value_counts().head(5).index
    plt.figure(figsize=(10,6))
    sns.boxplot(x='ORIGIN', y='ARR_DELAY', data=df[df['ORIGIN'].isin(top_airports)])
    plt.title("Arrival Delays for Top 5 Origin Airports")
    plt.xlabel("Origin Airport")
    plt.ylabel("Arrival Delay (minutes)")
    plt.show()